<template>
  <div id="app" class="content-wrap">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {},
};
</script>

<style></style>
